# -*- python -*-
# ex: set filetype=python:

import os

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.

c['workers'] = [worker.Worker("example-worker", 'pass')]

if 'BUILDBOT_MQ_URL' in os.environ:
    c['mq'] = {
        'type' : 'wamp',
        'router_url': os.environ['BUILDBOT_MQ_URL'],
        'realm': os.environ.get('BUILDBOT_MQ_REALM', 'buildbot').decode('utf-8'),
        'debug' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_websockets' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_lowlevel' : 'BUILDBOT_MQ_DEBUG' in os.environ,
    }
# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': os.environ.get("BUILDBOT_WORKER_PORT", 9989)}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

gitpoller = changes.GitPoller(
        'https://github.com/lquinet/meta-fullmetalupdate-extra.git',
        workdir='gitpoller-workdir', branch='test',
        pollInterval=60)

c['change_source'] = [gitpoller]

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

# Scheduler based on repository change
mainSched = schedulers.SingleBranchScheduler(
                            name="mainSched",
                            change_filter=util.ChangeFilter(branch='test'),
                            treeStableTimer=60,
                            builderNames=["runtests"])

# Force a build trough web interface
forceSched = schedulers.ForceScheduler(
                            name="forceSched",
                            builderNames=["runtests"])                          

c['schedulers'] = []            
c['schedulers'].append(mainSched)
c['schedulers'].append(forceSched)

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

# first, let's create the individual step objects
cat_test = steps.ShellCommand(name="cat test1.txt test2.txt >> text3.txt",
                            command="cat test1.txt test2.txt >> text3.txt",
                            description="cat test1.txt test2.txt >> text3.txt",
                            workdir="/worker")

docker_hello = steps.ShellCommand(name="docker run hello-world",
                            command=["docker", "run", "hello-world"],
                            haltOnFailure=True,
                            description="docker run hello-world",
                            workdir="/worker")

python_hello = steps.ShellCommand(name="python test_python.py",
                            command=["python", "test_python.py"],
                            haltOnFailure=True,
                            description="python test_python.py",
                            workdir="/worker")

python3_hello = steps.ShellCommand(name="python3 test_python3.py",
                            command=["python3", "test_python3.py"],
                            haltOnFailure=True,
                            description="python3 test_python3.py",
                            workdir="/worker")

# create the build factory and add the steps to it
factory = util.BuildFactory()
factory.addStep(cat_test)
factory.addStep(docker_hello)
factory.addStep(python_hello)
factory.addStep(python3_hello)

# finally, declare the list of builders. In this case, we only have one builder
c['builders'] = [
    util.BuilderConfig(name="runtests",
                        workernames=["example-worker"],
                        factory=factory)
]

####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# like IRC bots.

c['status'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Test buildbot" 
c['titleURL'] = "https://launchpad.net/pyflakes"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = os.environ.get("BUILDBOT_WEB_URL", "http://localhost:8010/")

# minimalistic config to activate new web UI
c['www'] = dict(port=os.environ.get("BUILDBOT_WEB_PORT", 8010),
                plugins=dict(waterfall_view={}, console_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : os.environ.get("BUILDBOT_DB_URL", "sqlite://").format(**os.environ),
}
